<div *ngIf="!isUpdate" class="parent">
  <div>
    You are about to clear all the numbers you entered. Are you sure?
  </div>
  <div>
    <button type="button" class="btn btn-danger btn-spacing" (click)="closeDialogWithNo()">No</button>
    <button type="button" class="btn btn-primary btn-spacing" (click)="closeDialogWithYes()">Yes</button>
  </div>
</div>

<div *ngIf="isUpdate" class="parent">
    <div>
      You are about to clear all modifications made to the numbers sequence. Are you sure?
    </div>
    <div>
      <button type="button" class="btn btn-danger btn-spacing" (click)="closeDialogWithNo()">No</button>
      <button type="button" class="btn btn-primary btn-spacing" (click)="closeDialogWithYes()">Yes</button>
    </div>
  </div>