<div class="separate-element">
    <app-form-add-numbers 
        #formAddNumbers 
        (addedNewNumberData)="addedNewNumberData($event)"
        (editedNumberData)="editedNumberData($event)"></app-form-add-numbers>
</div>
<div class="separate-element">
    <app-form-data #formShowNumbers (editNumberData)="editNumberData($event)"></app-form-data>
</div>