<div class="container-fluid">

  <div class="panel panel-default">
    <div class="panel-body">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <ng-container matColumnDef="numbers">
          <th mat-header-cell *matHeaderCellDef> Numbers </th>
          <td mat-cell *matCellDef="let element"> {{ element.numbers }} </td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
          <th mat-header-cell *matHeaderCellDef> Creation date </th>
          <td mat-cell *matCellDef="let element"> {{ element.creationDate | date:'dd-MM-yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="updatedDate">
          <th mat-header-cell *matHeaderCellDef> Updated date </th>
          <td mat-cell *matCellDef="let element"> {{ element.updatedDate | date:'dd-MM-yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Edit recording</th>
          <td mat-cell *matCellDef="let element"> 
            <button type="button" class="btn btn-secondary btn-sm" (click)="clickedEdit(element)">Edit</button>  
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>