<div class="parent">
  <div class="child">
    <form>
      <div class="form-group">
        <input 
          [(ngModel)]="numbersTextArea"
          type="text"
          class="form-control" 
          id="numbers"
          name="numbers"
          placeholder="Write your numbers..."
          pattern="[0-9,]*"
          required 
          #numbers="ngModel">

        <div *ngIf="numbers.invalid && (numbers.dirty || numbers.touched)" class="alert alert-danger">
        
          <div *ngIf="numbers.errors.required">
            Numbers are required.
          </div>

          <div *ngIf="numbers.errors?.pattern">
            Numbers format is not valid. Input must contain only numbers and commas.
          </div>

        </div>

      </div>
    </form>
  </div>
  <div class="child">
    <button 
      type="button" 
      class="btn btn-outline-primary btn-spacing" 
      [disabled]="numbers.invalid && (numbers.dirty || numbers.touched)"
      [hidden]="isEditMode"
      (click)="addNumbersData()">Add numbers sequence
    </button>
    <button 
      type="button" 
      class="btn btn-outline-danger btn-spacing" 
      [hidden]="isEditMode"
      (click)="openClearTextareaDialog()">Clear textarea
    </button>
    <button 
      type="button" 
      class="btn btn-outline-primary btn-spacing"
      [disabled]="numbers.invalid && (numbers.dirty || numbers.touched)"
      [hidden]="!isEditMode"
      (click)="updateNumbersData()">Update numbers sequence
    </button>
    <button 
      type="button" 
      class="btn btn-outline-danger btn-spacing"
      [hidden]="!isEditMode"
      (click)="openCancelUpdateDialog()">Cancel update
  </button>
  </div>
</div>